.App {
  text-align: center;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  border-collapse: collapse;
  width: 100vw;
}

.SlingShot {
  background-color: #282c34;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.PlayZone_Content {
  background-color: aqua;
  position: relative;
  height: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
}

.PlayZone {
  background-color: gray;
  position: absolute;
  bottom: 10vh;
  height: 40vh;
  width: 100%;
}

.arrow-point {
  background-color: green;
  position: absolute;
  width: 5px;
  height: 5px;
}

.currentBird {
  position: absolute;
  margin-right: 200px;
  max-width: 100px;
  max-height: 100px;
  pointer-events: none;
}

.pig {
  align-self: center;
  justify-self: center;
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  pointer-events: none;
}

.popped{
  opacity: 0;
  transition: all 250ms linear 0s;
}

.spawn{
  opacity: 1;
  transition: all 250ms linear 0.5s;
}
.PigArea {
  display: grid;
  margin-right: 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "pig pig pig pig";
  padding-top: 5%;
}

#animate {
  position: relative;
  border: 1px solid green;
  background: yellow;
  width: 100px;
  height: 100px;
}

.shootingBird {
  position: absolute;
  margin-right: 200px;
  max-width: 100px;
  max-height: 100px;
  pointer-events: none;
  color: black;
  background-color: black;
}
